.StandingsPage {
    margin: 5px;
    padding: 5px;
}

.paperTableContainer {
    /*min-width: 600px;*/
    padding: 5px;
    margin-bottom: 50px;
}

.containerTitle {
    margin: 10px;
}

.teamIcon {
    width: 15px;
    height: 15px;
}

.teamNameBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamNameBlock p{
    margin-left: 5px;
}